{{yield}}
<table width="100%">
  <tr>
    <th>Product</th>
    <th>Cost</th>
    <th> Quantity </th>
    <th>Group Cost</th>
    <th>Remove</th>
  </tr>
{{!-- TODO: investigate how we got cart ember object here --}}
{{#each cart.cartItems as |cartItem|}}
  <tr>
    <td>{{cartItem.itemName}}</td>
    <td>${{cartItem.cost}}</td>
    <td>
      <button {{ action 'incrementQuantityFromCart' cartItem}}>+</button>
      {{cartItem.quantity}}
      <button {{ action 'decrementQuantityFromCart' cartItem}}>-</button>
    </td>
    <td>${{cartItem.productGroupCost}}</td>
    <td> <button {{action 'deleteItemFromCart' cartItem }}>Delete</button> </td>
  </tr>
{{/each}}
  <tr>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>Sum Total: </td>
    <td>{{cart.cartTotal}}</td>
  </tr>
</table>