{{yield}}
<table width="100%">
  <tr>
    <th>Product</th>
    <th>Cost</th>
    <th> Quantity </th>
    <th>Group Cost</th>
    <th>Remove</th>
  </tr>
{{#each cart as |cartItem|}}
  <tr>
    <td>{{cartItem.product.itemName}}</td>
    <td>${{cartItem.product.cost}}</td>
    <td>
      <button {{ action 'incrementQuantityFromCart' cartItem}}>+</button>
      {{cartItem.quantity}}
      <button {{ action 'decrementQuantityFromCart' cartItem}}>-</button>
    </td>    
    <td>${{mult cartItem.product.cost cartItem.quantity }}</td>
    <td> <button {{action 'deleteItemFromCart' cartItem }}>Delete</button> </td>
  </tr>
{{/each}}
  <tr>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <td></td><td></td>
    <td>Sum Total: </td>
    <td>{{cartTotal}}</td>
  </tr>
</table>