{{outlet}}
  Total products: {{ model.length }}
  {{input class="main-input" type="text" value=this.searchValue placeholder="Find your items"}}
  <div class="products">
  {{#each model as |productItem|}}
    <div class="product">
      {{#link-to 'products.product-details' productItem.id}}
        <b>{{productItem.itemName}}</b>
      {{/link-to }}
      <p>{{productItem.shortDescription}}</p>
      <p>Available stocks: {{productItem.avaliableQuantity}}</p>
      <p>Cost: ${{productItem.cost}}</p>      
      {{ add-to-cart product=productItem }}
    </div>
  {{/each}}
  </div>