{{#link-to "products" }} back {{/link-to}}
<h1>{{ model.product.itemName }}</h1>
<p>{{ model.product.description }}</p>
<p>Available stocks: {{model.product.avaliableQuantity}}</p>
<p>Cost: ${{model.product.cost}}</p>
{{ add-to-cart product=model.product }}
{{outlet}}